.custom-details {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s;
}

.custom-details i {
    font-size: 4rem;
}

.custom-details:hover {
    color: red;
    transform: rotate(720deg) scale(1.2);
    transition: 2s;
}